

/* body/layout */
body {
    font-family: --font-sans, 'Open Sans', sans-serif;   
}
.about_layout {
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
}
.about_main {
    min-height: 60vh;
    flex-grow: 2;
    padding-bottom: 3vh;
}

/* page titles */
h1, h2 {
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 200;
    margin-left: .5vw;
}
.title_color {
    color: var(--color-red);
}


/* header */
.hero {
    width: 100%;
    height: auto;
}
.header {
    margin: 0 7vw;
}
.header > p{
    margin-right: 3vw;
    font-size: 2vw;
    text-align: left;
}
.text_highlight{
    color: var(--color-red);
    font-size: 2vw;
}


/* our values */
.cards {
    display: flex;
    justify-content: space-evenly;   
    margin-top: 2vh;
}
.card_image {
    width: 22vw;
    height: auto;
    border-radius: 10%;  
}
.values_headers,.values_headers1,.values_headers2 {
    color:var(--color-red-dark);
    font-size: 2vw;
    padding-top: 1vh;
    margin-bottom: 3vh;
}
.values_headers2 {
    color:var(--color-blue);
}
.values_headers1 {
    color:rgb(0, 128, 0);
}
.mission_layout {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(244, 211, 94,.2); 
    margin-top: 2vh;
}
.values_text{
    font-size: 2vw;
}

/* our mission */
.about_text_mission{
    font-size: 3vw;
    text-align: center;
    font-style: italic;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 200;
}
.about_text_group{
    width: 80vw;
    margin:2vh auto;
}


/* connect */
 form {
    display:block;
    flex-wrap: wrap;
}
#checkboxes{
    display: flex;
    justify-content: center;
}
.checkboxes{
    text-align: left;
}
.socials{
    display: flex;
    justify-content: space-evenly;
    border-top: solid .5vh rgb(221, 219, 219);
    border-bottom: solid .5vh var(--color-grey);
    padding: 2vh 0;
    margin: 2vh 0; 
}


/* meet our team */
.meet_team_sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

}
.meet_team {
    width: 13vw;
    height: auto;
    border-radius: 10%;
}
.team_block {
    width: 20vw;
    height: auto;
    margin-bottom: 4vh;
    text-align: left;
}
h4 {
    margin: 1vh;
    font-weight: 300;
    color: var(--color-blue);
}
i {
    color: var(--color-blue);
    margin-top: 1vh;
}
i:hover {
    color: var(--color-red);
}
#team {
    background-color: rgba(13, 59, 102,.03);
    padding-top: 1vh;
}
.team_icons {
    font-size: 1.2vw;
    font-weight: 700;
}


@media only screen and (max-width: 600px){
    .meet_team {
        width: 50vw;
        height: auto;
    }
    .team_icons,.values_headers,
    .values_headers1,
    .values_headers2 {
        font-size: 3vw; 
    }
    .team_block {
        width: 60vw;
        height: auto;
        margin-bottom: 4vh;
        text-align:center;
    }
}