.card__grid {
  display: grid;
  grid-template-columns: repeat(3, 24vw);
  grid-column-gap: 6vw;
  justify-content: center;
  padding: 3rem 0;
  padding-bottom: 180px;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  font-family: "Montserrat";
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden; /*Needed for Safari 9, ALWAYS USE CANIUSE.com to check*/
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

/*Front of Card*/
.card__side--front {
  background-color: #f95738;
}
.card__artist-picture {
  width: 20rem;
  height: 20rem;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.card__artist-picture--1 {
  background-image: linear-gradient(
      to right bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0)
    ),
    url(../public/img/John-Chuang.jpg);
}

.card__artist-picture--2 {
  background-image: linear-gradient(
      to right bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0)
    ),
    url(../public/img/Lisa-May.jpg);
}

.card__artist-picture--3 {
  background-image: linear-gradient(
      to right bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0)
    ),
    url(../public/img/Roger-Boyle.jpg);
}

.card__artist-name {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #0d3b66;
  font-weight: 800;
}
.card__artist-title {
  font-size: 1.6rem;
  color: #faf0ca;
  margin-bottom: 3rem;
  padding-top: 8px;
  font-weight: bold;
}
.card__artist-desc {
  color: #0d3b66;
  font-size: 1.4rem;
  width: 75%;
}

/*Back of card*/
.card__side--back {
  transform: rotateY(180deg);
  justify-content: space-between;
  padding: 6rem 0;
  background: #f4d35e;
}

.card__work-img {
  width: 70%;
  height: 40%;
}
.card__work-img-1 {
  background-image: linear-gradient(
      to right bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0)
    ),
    url(../public/img/John-Chang-Work.jpg);
  background-size: cover;
}
.card__work-img-2 {
  background-image: linear-gradient(
      to right bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0)
    ),
    url(../public/img/Roger-Boyle-Work.jpg);
  background-size: cover;
}
.card__work-text {
  font-size: 1.4rem;
  padding: 0 3rem;
  color: #0d3b66;
  width: 85%;
  font-weight: 500;
  margin-top: 4rem;
}

.card__work-link {
  text-decoration: none;
  padding: 2rem;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: margin-left 0.2s;
}

.card__work-link {
  border-bottom: 2px solid #000;
}

= .card__work-link:hover,
.card__work-link:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

.card__work-link:hover .card__work-link--text {
  margin-left: 8px;
}

.card__work-link--text {
  color: #0d3b66;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 3px;
  transition: all 0.2s;
}

.card__work-link-1:hover {
  background-color: hsla(10, 100%, 50%, 1);
}

.card__work-link-1:hover .card__work-link--text-1 {
  color: #fff;
}

/* .card__work-link-2:hover {
  background-color: hsla(10, 100%, 0%, 1);
}

.card__work-link-1:hover,
.card__work-link-2:hover,
.card__work-link-3:hover {
  border-bottom: none;
}

.card__work-link-2:hover .card__work-link--text-1 {
  color: #fff;
}

.card__work-link-3:hover {
  background-color: hsla(40, 80%, 40%, 2);
}

.card__work-link-3:hover .card__work-link--text-3 {
  color: #fff;
} */

@media only screen and (max-width: 62.5em) {
  .card__grid {
    grid-template-columns: 60%;
    grid-auto-rows: min-content;
  }

  .card {
    margin: 2rem 0;
  }
}
