body {
  font-family: var(--font-sans);
}

/* HERO SECTION */

.hero-section {
  /* background: #faf0ca; */
  background: var(--color-yellow);
  color: var(--color-red);
}

.hero-container {
  display: flex;
  flex-direction: row;
}
.heroimg-a {
  align-self: flex-start;
  width: 30vw;
  margin-top: 40px;
}
.heroimg-a > img {
  width: 25vw;
  padding-left: 50px;
}
.heroimg-b {
  align-self: flex-end;
  margin-bottom: 40px;
  margin-top: 160px;
}

.heroimg-b > img {
  width: 24vw;
  padding-right: 50px;
}

.hero-text {
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 40vw;
  margin-top: 160px;
}

.hero-text > h1 {
  font-size: 3em;
}

.hero-text > button {
  background: var(--color-red);
  border: none;
  padding: 15px 20px;
  color: var(--color-off-white);
  margin-top: 80px;
  font-size: 1.7em;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 160px;
}

.hero-text > button:hover {
  background: var(--color-red-dark);
  cursor: pointer;
}

/* END OF HERO SECTION */
/*DESCRIPTION SECTION */
.description-section {
  background: var(--color-blue);
  padding: 80px auto;
  display: flex;
}

.description-section > p {
  font-size: 2em;
  color: var(--color-off-white);
  width: 60%;
  min-height: 60vh;
  text-align: center;
  margin: 0 auto;
  padding: 160px 0;
  line-height: 50px;
}

/*FEARTURED CREATIVES SECTION */

.featured-section {
  /* background-color: #2154AF; */
  background: var(--color-off-white);
  text-align: center;
}

h2 {
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 3em;
  text-align: center;
  text-transform: capitalize;
}

.featured-section > h2 {
  color: var(--color-blue);
}
/* NEWSLETTER SECTION */
.newsletter-section {
  background: var(--color-blue);
  max-height: 600px;
}

.newsletter-section > h2 {
  color: var(--color-off-white);
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

#email {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 14px;
}

#submit {
  background-color: var(--color-red);
  border: none;
  border-radius: 3px;
  color: var(--color-off-white);
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 40px;
  margin-bottom: 120px;
}

#submit:hover {
  background: var(--color-red-dark);
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .description-section > p {
    font-size: 1.6em;
    width: 75%;
    min-height: 60vh;
    padding: 120px 0;
    line-height: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .heroimg-a {
    align-self: center;
    width: 50%;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .heroimg-a > img {
    width: 40vw;
  }
  .heroimg-b {
    align-self: center;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 30%;
  }

  .heroimg-b > img {
    width: 40vw;
    padding-right: 50px;
  }

  .hero-text {
    width: 70vw;
    margin-top: 20px;
  }

  .hero-text > h1 {
    font-size: 2.5em;
  }

  .hero-text > button {
    margin-bottom: 40px;
    font-size: 1.3em;
  }

  h2 {
    font-size: 2em;
  }

  #submit {
    font-size: 1.2em;
  }
}
