body {
  font-family: "Montserrat", sans-serif;
}

/* HERO SECTION */

.hero-section {
  /* background: #faf0ca; */
  background: #f4d35e;
  color: #f95738;
}

.hero-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.heroimg-a {
  align-self: flex-start;
  width: 30vw;
  margin-top: 20px;
}
.heroimg-a > img {
  width: 25vw;
  padding-left: 50px;
}
.heroimg-b {
  align-self: flex-end;
}

.heroimg-b > img {
  width: 30vw;
  padding-right: 50px;
}

.hero-text {
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 40vw;
}

.hero-text > h1 {
  font-size: 3em;
}

.hero-text > button {
  background: #f95738;
  border: none;
  padding: 15px 20px;
  color: #faf0ca;
  margin-top: 80px;
  font-size: 1.7em;
  font-weight: bold;
  border-radius: 3px;
}

.hero-text > button:hover {
  background: #c42530;
}

/* END OF HERO SECTION */
/*DESCRIPTION SECTION */
.description-section {
  background: #0d3b66;
  padding: 80px auto;
  display: flex;
}

.description-section > p {
  font-size: 2em;
  color: #faf0ca;
  width: 60%;
  min-height: 60vh;
  text-align: center;
  margin: 0 auto;
  padding: 160px 0;
  line-height: 50px;
}

/*FEARTURED CREATIVES SECTION */

.featured-section {
  /* background-color: #2154AF; */
  background: #faf0ca;
  text-align: center;
}

h2 {
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 3em;
  text-align: center;
  text-transform: capitalize;
}

.featured-section > h2 {
  color: #0d3b66;
}
/* NEWSLETTER SECTION */
.newsletter-section {
  background: #0d3b66;
  max-height: 600px;
}

.newsletter-section > h2 {
  color: #faf0ca;
}

form {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#email {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 14px;
}

#submit {
  background-color: #f95738;
  border: none;
  border-radius: 3px;
  color: #faf0ca;
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#submit:hover {
  background: #c42530;
}

/* .hero-placeholder {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-placeholder__img {
  max-width: 100%;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

.hero-placeholder__text {
  grid-column: 2 / span 1;
  grid-row: 4 / 6;
  min-width: 50vw;
  align-self: end;

  background-color: #fff;

  /* position: absolute;
  bottom: 0; */

/* .hero-placeholder__title {
  font-family: "Allura", cursive;
  font-size: 9rem;
}

.hero-placeholder__subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
} */
