
  /* --color-red: #f95738;
  --color-red-dark: #c42530;
  --color-blue: #0d3b66;
  --color-yellow: #f4d35e;
  --color-orange: #ee964b;
  --color-off-white: #faf0ca; */

.about_layout {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
}

/* .about_menu {
    min-height: 60vh;
    flex-basis: 200px;
    background-color: #f95738;
    flex-grow: 1;
    padding: 0.5em;
} */

.about_main {
    min-height: 60vh;
    flex-grow: 2;
    overflow: auto;
    padding: 1.5em;
    overflow: hidden;
}

/* ul {
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
    
}
a {
    text-decoration: none;
    color:#0d3b66;
}
li {
    margin-top: 25px;
    
} */

iframe {
    width: 40vw;
    height: 25vw;
    overflow: hidden;
    border: black solid 1vw;
    margin-bottom: 2vh;
}

#iframe_center {
    text-align: center;
    margin-top: 2vh;
}

.about_title {
    text-transform: uppercase;
    font-weight: 300;
    margin: 3vh 0;
    color:#f95738;
    /* text-align: center; */
}

/* .about_subtitle {
    color: #ee964b;
} */

.meet_team_sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

}

.meet_team {
    width: 13vw;
    height: auto;
    
}


.team_block {
    width: 20vw;
    height: auto;
    margin-bottom: 4vh;
    text-align: center;
}
/* .nate {
     width: 15vw;
     height: auto;
     margin-bottom: 4vh;
     text-align: center;
 } */

img {
    border-radius: 5px;
}
h4 {
    margin: 1vh;
    font-weight: 300;
    color: #0d3b66;
}
i {
    color: #0d3b66;
    margin-top: 1vh;
}
i:hover {
    color:#f95738;
}
#team {
    background-color: #faf9f6;
    padding-top: 1vh;
}
.team_icons {
    font-size: .8em;
    font-weight: 700;
}
.timeline{
    width:80vw;
    height: 20vh;
    text-align: center;
    margin-top: 10vh;
    
}
.circle1 {
    height: 20px;
    width: 20px; border-radius: 50%;
    background-color: #0d3b66; 
    display: inline-block;
}
.circle1p {
    color: #0d3b66;
}
.circle2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ee964b;
    display: inline-block;
}
.circle2p {
    color: #ee964b;;
}
.circle3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}
.circle3p {
    color: red;
}
.circle4 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #f4d35e;
    display: inline-block;
}
.circle4p {
    color: #f4d35e;
}
.circle5 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
}
.circle5p {
    color: green;
}
.circle6 {
    height:20px;
    width: 20px;
    border-radius: 50%;
    background-color: #b069da;
    display: inline-block;
}
.circle6p {
    color: #b069da;
}
.line1 {
    height: 2px;
    width: 100px;
    background-color: rgb(204, 202, 202);
    display: inline-block;
    /* margin-bottom: 30px; */
    align-self: center;
    
}
.line2 {
    height: 100px;
    margin-left: -15px;
    display: inline-block;
    margin-top: 30px;
}
.timeline_display{
    display: flex;
    justify-content: center;

}

.timeline_text {
    width: 4vw;
    height: auto;
}
.years1{
    color: white;
    margin-top: 2vh;
    
}
.milestones{
    font-weight: 200;
    font-size: .8em;
}