
  /* --color-red: #f95738;
  --color-red-dark: #c42530;
  --color-blue: #0d3b66;
  --color-yellow: #f4d35e;
  --color-orange: #ee964b;
  --color-off-white: #faf0ca; */

body{
     
    font-family: 'Open Sans', sans-serif; 
    width: 90vw;
}

.hero{
    width: 90vw;
    height: auto;
}
/* header */
.header {
    margin: 4vh;
}
.about_text_header{
    margin-right: 3vw;
}
.text_highlight{
    color: #f95738;
    font-size: 1.1em;
    margin-bottom: 1vh;
    margin-top: 1vh;
}


.about_layout {
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
}
.about_main {
    min-height: 60vh;
    flex-grow: 2;
    overflow: auto;
    padding: 1.5em;
}


/* values/video */
.about_video_layout{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(244, 211, 94,.2);
    

  
}
.about_title{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5em;
  
}
.title_color{
    color:#f95738;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5em;
}
.our_values{
    margin-top: 4vh;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.card{
    display: flex;
    margin-top: 3vh;

}
.card_body{
    background-color:rgba(13, 59, 102,.06);
    height: 6vh;;
    width: 16vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.card_image {
    width: 16vw;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}
.values_headers,.values_headers1,.values_headers2 {
    margin-top:0%;
    color:green;
    font-weight: 900;
    font-size: 1em;
    padding-top: 2vh;
   
}
.values_headers2 {
    color:#0d3b66;
}
.values_headers1 {
    color:#b069da;
}
.about_text, .about_text_header{
    font-size: 1.2em;
    margin-bottom: 1vh;
    margin-top: 1vh;
   
}
.about_text_mission{
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: 200;
}

.about_text_group{
    width: 40vw;
    margin:2vh auto;
}
iframe {
    width: 55vw;
    height: 25vw;
    overflow: hidden;
    margin:2vh 1vw;
}
#iframe_center{
    text-align: center;
}


.socials{
    display: flex;
    justify-content: space-evenly;
    
}
/* meet our team */
.meet_team_sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.meet_team {
    width: 13vw;
    height: auto;
    border-radius: 5px;
}
.team_block {
    width: 20vw;
    height: auto;
    margin-bottom: 4vh;
    text-align: left;
}

h4 {
    margin: 1vh;
    font-weight: 300;
    color: #0d3b66;
}
i {
    color: #0d3b66;
    margin-top: 1vh;
}
i:hover {
    color:#f95738;
}
#team {
    background-color: rgba(13, 59, 102,.03);
    padding-top: 1vh;
}
.team_icons {
    font-size: .8em;
    font-weight: 700;
}


/* timeline */
#timeline {
    margin-top: 5vh;
    background-color: rgba(0, 128, 0,.05);
    padding-top: 2vh;
}
.timeline{
    width:80vw;
    height: 25vh;
    text-align: center;
    margin-top: 8vh;
}
.circle1 {
    height: 20px;
    width: 20px; border-radius: 50%;
    background-color: #0d3b66; 
    display: inline-block;
}
.circle1p {
    color: #0d3b66;
}
.circle2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ee964b;
    display: inline-block;
}
.circle2p {
    color: #ee964b;;
}
.circle3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
}
.circle3p {
    color: red;
}
.circle4 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #f4d35e;
    display: inline-block;
}
.circle4p {
    color: #f4d35e;
}
.circle5 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
}
.circle5p {
    color: green;
}
.circle6 {
    height:20px;
    width: 20px;
    border-radius: 50%;
    background-color: #b069da;
    display: inline-block;
}
.circle6p {
    color: #b069da;
}
.line1 {
    height: 2px;
    width: 100px;
    background-color: rgb(204, 202, 202);
    display: inline-block;
    align-self: center;
}
.line2 {
    height: 100px;
    
    display: inline-block;
    margin-top: 30px;
}
.timeline_display{
    display: flex;
    justify-content: center;
}

.timeline_text {
    width: 4vw;
    height: auto;
}
.years1{
    color: white;
    margin-top: 2vh;
}
.milestones{
    font-weight: 200;
    font-size: .8em;
}