/*Variables for this page*/
/*_________________________*/

:root {
  --font-size-heading: clamp(1.4rem, 6vw, 4rem);
  --font-size-welcome: clamp(1.4rem, 6vw, 4rem);
  --font-size-link: clamp(1.4rem, 6vw, 2rem);
  --font-size-label: clamp(1.4rem, 3vw, 2rem);
  --font-size-input-text: clamp(1.8rem, 3vw, 2rem);
  --font-size-button: clamp(1.8rem, 3vw, 2rem);
}

.page__content {
  display: grid;
  grid-template-rows: min-content min-content;
}

/*Header*/
/*_________________________*/
.signup__title {
  grid-row: 1 / span 1;
  padding-top: 4rem;
}
.signup__title-heading {
  font-size: var(--font-size-heading);
  text-align: center;
  overflow: hidden;
  transition: all 0.4s;
  transform: scaleY(1);
  margin: 0 4vw;
}

.signup__title-heading--remove {
  transform: scaleY(0);
}

.signup__form-container {
  grid-row: 2 / span 1;

  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 1fr;
  padding: 6rem 20vw;
  overflow: hidden;
}

/*Page Cards*/
/*_________________________*/
.signup__card {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 2s ease;
}

/*Final Card */
/*___________________________*/
.signup__card-welcome {
  font-size: var(--font-size-welcome);
  padding-bottom: 7rem;
  text-align: center;
}

.signup__card-line {
  display: block;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 0.1em;
  margin: 0 2em;
  background-image: linear-gradient(
    0deg,
    rgba(255, 9, 0, 0.41) 0%,
    rgba(255, 127, 0, 0.41) 50%,
    rgba(0, 255, 0, 0.6) 100%
  );
  background-size: 0 10em;
  background-position: top center;
  background-repeat: no-repeat;
  will-change: background-image;
  transition: background-image 3s linear;
}

.signup__card-line--active {
  animation: preloadLine 3s ease-out forwards;
}

.signup__card-check {
  width: auto;
  height: 6rem;
  padding: 0.7em;
  border-radius: 50%;
  background-color: #5bd670;
  fill: #fff;
  margin-top: -3rem;
  transform: scale(0);
}

.signup__card-check--active {
  animation: preloadTic 0.8s linear forwards;
  animation-delay: 3s;
}

.signup__card-link {
  text-decoration: none;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.signup__card-link--span {
  font-size: var(--font-size-link);
  background-color: #eaeaea;
  padding: 2rem;
  border-radius: 20px;
  color: #000;
  min-height: 6rem;
  min-width: 20vw;
  transition: all 0.2s;
  display: block;
  text-align: center;
}

.signup__card-link--span:hover {
  color: #fff;
  background-color: #121212;
}

/*Inputs*/
/*_________________________*/
.signup__group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.signup__label {
  align-self: start;
  font-size: var(--font-size-label);
  margin: 1rem 0;
}
.signup__input-text {
  height: 5rem;
  font-size: var(--font-size-input-text);
  width: 30vw;
  padding-left: 3vw;
  border-radius: 8px;
}

.signup__input-dropdown {
  width: 30vw;
  height: 5rem;
  border-radius: 8px;
  padding-left: 1vw;
  font-size: var(--font-size-input-text);
}

.signup__input-dropdown > option {
  max-width: 100%;
}

/*Page Buttons/
/*_________________________*/

.signup__page-btn-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signup__page-btn {
  grid-row: 2 / span 1;
  min-width: 10vw;
  min-height: 4vh;
  font-size: var(--font-size-button);
  margin: 3rem;
  padding: 1.4rem;
  border-radius: 8px;
  transition: all 1s ease;
}
.signup__form-next {
}

.signup__form-next--1 {
  width: 40%;
  align-self: center;
  justify-self: center;
}

.signup__form-prev {
}

/* Page Animations*/
/*___________________________*/
@keyframes preloadLine {
  0% {
    background-position: bottom center;
    background-size: 0 10em;
  }
  100% {
    background-position: top center;
    background-size: 100% 10em;
  }
}

@keyframes preloadTic {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.2);
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(1.3);
    animation-timing-function: ease-in;
  }
  65% {
    transform: scale(0.9);
    animation-timing-function: ease-out;
  }
  80%,
  100% {
    transform: scale(1);
  }
}

/*Utility classes for this page*/
/*___________________________*/
.--off-right {
  transform: translateX(100vw);
  opacity: 0;
}

.--off-left {
  transform: translateX(-100vw);
  opacity: 0;
}

/*Breakpoints*/

/*650 breakpoint 650/16 */
@media only screen and (max-width: 40.625em) {
  .signup__input-text {
    width: 70vw;
  }

  .signup__input-dropdown {
    width: 70vw;
  }
}

/*___________________________*/
/*500px breakpoint  500/16 = 31.25*/
@media only screen and (max-width: 31.25em) {
  .signup__page-btn {
    min-width: 30vw;
    min-height: 5vh;
    margin: 3rem 3vw;
  }

  .signup__card-link {
  }

  .signup__card-link--span {
    min-width: 60vw;
  }
}
